  <div class="navlinkbox">
  <%= link_to "Write Post", new_post_url %>
  <%= link_to 'Back', posts_url %>
  <%= link_to "Sign out", destroy_user_session_path, method: "DELETE" %>
  </div>

  <div>
  <h1> Edit Post </h1>
  <%= render 'form' %>
  </div>



<!-- minor changes -->
